In [1]:
import pandas as pd
import numpy as np

# Rerata Konsumsi Telur Ayam Ras Lampung

In [2]:
df = pd.read_csv("rerata-konsumsi-telurras-lampung.csv")
print(df)

                                        nama_variabel  nama_variabel_telur  \
0   Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
1   Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
2   Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
3   Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
4   Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
5   Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
6   Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
7   Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
8   Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
9   Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
10  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
11  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
12  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
13  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
14  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
15  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
16  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
17  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
18  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
19  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
20  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
21  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
22  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
23  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
24  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
25  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
26  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
27  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
28  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras
29  Rata-rata Konsumsi Perkapita Seminggu Menurut ...       Telur ayam ras

     nama_tahun  nama_turunan_tahun   data_content  \
0          2021               Tahun          1.856
1          2021               Tahun          1.999
2          2021               Tahun          2.594
3          2021               Tahun          2.113
4          2021               Tahun          2.221
5          2021               Tahun          2.206
6          2021               Tahun          2.322
7          2021               Tahun          1.975
8          2021               Tahun          2.156
9          2021               Tahun          2.178
10         2021               Tahun          1.870
11         2021               Tahun          1.877
12         2021               Tahun          1.685
13         2021               Tahun          3.144
14         2021               Tahun          2.863
15         2020               Tahun          1.647
16         2020               Tahun          2.057
17         2020               Tahun          2.369
18         2020               Tahun          2.051
19         2020               Tahun          2.208
20         2020               Tahun          2.137
21         2020               Tahun          2.146
22         2020               Tahun          1.749
23         2020               Tahun          2.202
24         2020               Tahun          2.105
25         2020               Tahun          1.753
26         2020               Tahun          1.637
27         2020               Tahun          1.807
28         2020               Tahun          2.878
29         2020               Tahun          2.685

    nama_item_vertical_variabel
0                 Lampung Barat
1                     Tanggamus
2               Lampung Selatan
3                 Lampung Timur
4                Lampung Tengah
5                 Lampung Utara
6                     Way Kanan
7                  Tulangbawang
8                     Pesawaran
9                     Pringsewu
10                       Mesuji
11          Tulang Bawang Barat
12                Pesisir Barat
13          Kota Bandar Lampung
14                   Kota Metro
15                Lampung Barat
16                    Tanggamus
17              Lampung Selatan
18                Lampung Timur
19               Lampung Tengah
20                Lampung Utara
21                    Way Kanan
22                 Tulangbawang
23                    Pesawaran
24                    Pringsewu
25                       Mesuji
26          Tulang Bawang Barat
27                Pesisir Barat
28          Kota Bandar Lampung
29                   Kota Metro

In [3]:
df.drop(df.columns[[0, 1, 3]], axis = 1, inplace = True)
  
df

     nama_tahun   data_content  nama_item_vertical_variabel
0          2021          1.856                Lampung Barat
1          2021          1.999                    Tanggamus
2          2021          2.594              Lampung Selatan
3          2021          2.113                Lampung Timur
4          2021          2.221               Lampung Tengah
5          2021          2.206                Lampung Utara
6          2021          2.322                    Way Kanan
7          2021          1.975                 Tulangbawang
8          2021          2.156                    Pesawaran
9          2021          2.178                    Pringsewu
10         2021          1.870                       Mesuji
11         2021          1.877          Tulang Bawang Barat
12         2021          1.685                Pesisir Barat
13         2021          3.144          Kota Bandar Lampung
14         2021          2.863                   Kota Metro
15         2020          1.647                Lampung Barat
16         2020          2.057                    Tanggamus
17         2020          2.369              Lampung Selatan
18         2020          2.051                Lampung Timur
19         2020          2.208               Lampung Tengah
20         2020          2.137                Lampung Utara
21         2020          2.146                    Way Kanan
22         2020          1.749                 Tulangbawang
23         2020          2.202                    Pesawaran
24         2020          2.105                    Pringsewu
25         2020          1.753                       Mesuji
26         2020          1.637          Tulang Bawang Barat
27         2020          1.807                Pesisir Barat
28         2020          2.878          Kota Bandar Lampung
29         2020          2.685                   Kota Metro

In [4]:
df.columns = ['tahun', 'rata-rata', 'wilayah']
df

    tahun  rata-rata               wilayah
0    2021      1.856         Lampung Barat
1    2021      1.999             Tanggamus
2    2021      2.594       Lampung Selatan
3    2021      2.113         Lampung Timur
4    2021      2.221        Lampung Tengah
5    2021      2.206         Lampung Utara
6    2021      2.322             Way Kanan
7    2021      1.975          Tulangbawang
8    2021      2.156             Pesawaran
9    2021      2.178             Pringsewu
10   2021      1.870                Mesuji
11   2021      1.877   Tulang Bawang Barat
12   2021      1.685         Pesisir Barat
13   2021      3.144   Kota Bandar Lampung
14   2021      2.863            Kota Metro
15   2020      1.647         Lampung Barat
16   2020      2.057             Tanggamus
17   2020      2.369       Lampung Selatan
18   2020      2.051         Lampung Timur
19   2020      2.208        Lampung Tengah
20   2020      2.137         Lampung Utara
21   2020      2.146             Way Kanan
22   2020      1.749          Tulangbawang
23   2020      2.202             Pesawaran
24   2020      2.105             Pringsewu
25   2020      1.753                Mesuji
26   2020      1.637   Tulang Bawang Barat
27   2020      1.807         Pesisir Barat
28   2020      2.878   Kota Bandar Lampung
29   2020      2.685            Kota Metro

In [5]:
df.describe()

             tahun  rata-rata
count    30.000000  30.000000
mean   2020.500000   2.149667
std       0.508548   0.375345
min    2020.000000   1.637000
25%    2020.000000   1.871750
50%    2020.500000   2.125000
75%    2021.000000   2.217750
max    2021.000000   3.144000

In [6]:
df.to_excel('rerata-produksitelur.xlsx')

# Produksi Telur Ayam Ras Lampung

In [7]:
df1 = pd.read_csv("produksi-telur-lpg.csv")
print(df1)

    No        kabupaten_kota   2017   2018   2019   2020   2021
0    1         Lampung Barat     67     56     78      0    296
1    2             Tanggamus    193    200    211   1142    720
2    3       Lampung Selatan  17883  20391  20324  63007  69319
3    4         Lampung Timur   9246   9374   9397  25286  39257
4    5        Lampung Tengah   5586   5606   6028   9850  22863
5    6         Lampung Utara    891    914    974   8531   9202
6    7             Way Kanan    657    791   1302   1291   7012
7    8         Tulang Bawang    316    431    185   4447    919
8    9             Pesawaran    757   1802   3247   5453  11711
9   10             Pringsewu   5134   5432   5466   7529  20928
10  11                Mesuji     21     43     45    815    606
11  12   Tulang Bawang Barat    129    397    435     64   2191
12  13         Pesisir Barat      0      0      0    340     60
13  14        Bandar Lampung     90     86     34  41603    144
14  15                 Metro    106    106     11  23913     41

In [8]:
df1.drop(df1.columns[[0, 2, 3, 4]], axis = 1, inplace = True)
df1

          kabupaten_kota   2020   2021
0          Lampung Barat      0    296
1              Tanggamus   1142    720
2        Lampung Selatan  63007  69319
3          Lampung Timur  25286  39257
4         Lampung Tengah   9850  22863
5          Lampung Utara   8531   9202
6              Way Kanan   1291   7012
7          Tulang Bawang   4447    919
8              Pesawaran   5453  11711
9              Pringsewu   7529  20928
10                Mesuji    815    606
11   Tulang Bawang Barat     64   2191
12         Pesisir Barat    340     60
13        Bandar Lampung  41603    144
14                 Metro  23913     41

In [9]:
df1.columns = df1.columns.str.replace('kabupaten_kota', 'wilayah')
df1

                 wilayah   2020   2021
0          Lampung Barat      0    296
1              Tanggamus   1142    720
2        Lampung Selatan  63007  69319
3          Lampung Timur  25286  39257
4         Lampung Tengah   9850  22863
5          Lampung Utara   8531   9202
6              Way Kanan   1291   7012
7          Tulang Bawang   4447    919
8              Pesawaran   5453  11711
9              Pringsewu   7529  20928
10                Mesuji    815    606
11   Tulang Bawang Barat     64   2191
12         Pesisir Barat    340     60
13        Bandar Lampung  41603    144
14                 Metro  23913     41

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0    wilayah  15 non-null     object
 1    2020     15 non-null     int64
 2    2021     15 non-null     int64
dtypes: int64(2), object(1)
memory usage: 488.0+ bytes

In [11]:
df1.columns.map(type)

Index([<class 'str'>, <class 'str'>, <class 'str'>], dtype='object')

In [12]:
# convert column "2020" of a DataFrame

# df1["2020"] = df1["2020"].astype(int)

# df1.dtypes

In [13]:
df1.describe()

               2020          2021
count     15.000000     15.000000
mean   12884.733333  12351.266667
std    18325.259330  19450.052734
min        0.000000     41.000000
25%      978.500000    451.000000
50%     5453.000000   2191.000000
75%    16881.500000  16319.500000
max    63007.000000  69319.000000

In [14]:
#Membuat Data kolom baru untuk nilai persentase rata-rata produksi di setiap wilayah
percentage = ['0.08', '0.49', '34.96', '17.05', '8.64', '4.68', '2.19', '1.42', '4.53', '7.52', '0.38', '0.60', '0.11', '11.03', '6.33']
df1 = df1.assign(persentase=percentage)

In [15]:
print(df1)

                 wilayah   2020   2021 persentase
0          Lampung Barat      0    296       0.08
1              Tanggamus   1142    720       0.49
2        Lampung Selatan  63007  69319      34.96
3          Lampung Timur  25286  39257      17.05
4         Lampung Tengah   9850  22863       8.64
5          Lampung Utara   8531   9202       4.68
6              Way Kanan   1291   7012       2.19
7          Tulang Bawang   4447    919       1.42
8              Pesawaran   5453  11711       4.53
9              Pringsewu   7529  20928       7.52
10                Mesuji    815    606       0.38
11   Tulang Bawang Barat     64   2191       0.60
12         Pesisir Barat    340     60       0.11
13        Bandar Lampung  41603    144      11.03
14                 Metro  23913     41       6.33

In [16]:
df1.to_excel('new-produksitelur.xlsx')